<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
		 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		 xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
	
	<display-name>Web Application</display-name>
	
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	
	<!-- main 현 -->
	<servlet>
		<servlet-name>Main</servlet-name>
		<servlet-class>com.min.edu.ctrl.main.Main</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Main</servlet-name>
		<url-pattern>/main.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Promotion</servlet-name>
		<servlet-class>com.min.edu.ctrl.main.Promotion</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Promotion</servlet-name>
		<url-pattern>/promotion.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Items</servlet-name>
		<servlet-class>com.min.edu.ctrl.main.Items</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Items</servlet-name>
		<url-pattern>/items.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ProductItem</servlet-name>
		<servlet-class>com.min.edu.ctrl.main.ProductItem</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProductItem</servlet-name>
		<url-pattern>/productItem.do</url-pattern>
	</servlet-mapping>
	
	<!-- detail 다현 -->
	<servlet>
		<servlet-name>Detail</servlet-name>
		<servlet-class>com.min.edu.ctrl.detail.Detail</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Detail</servlet-name>
		<url-pattern>/detail.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ProductDetail</servlet-name>
		<servlet-class>com.min.edu.ctrl.detail.ProductDetail</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProductDetail</servlet-name>
		<url-pattern>/productDetail.do</url-pattern>
	</servlet-mapping>
	
	<!-- review 희애 -->
	<servlet>
		<servlet-name>Review</servlet-name>
		<servlet-class>com.min.edu.ctrl.review.Review</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Review</servlet-name>
		<url-pattern>/review.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ReviewMore</servlet-name>
		<servlet-class>com.min.edu.ctrl.review.ReviewMore</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ReviewMore</servlet-name>
		<url-pattern>/reviewMore.do</url-pattern>
	</servlet-mapping>
		<servlet>
		<servlet-name>ReviewWriteForm</servlet-name>
		<servlet-class>com.min.edu.ctrl.review.ReviewWriteForm</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ReviewWriteForm</servlet-name>
		<url-pattern>/reviewWriteForm.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ReviewWrite</servlet-name>
		<servlet-class>com.min.edu.ctrl.review.ReviewWrite</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ReviewWrite</servlet-name>
		<url-pattern>/reviewWrite.do</url-pattern>
	</servlet-mapping>
	
	<!-- reserve 기훈 -->
	<servlet>
		<servlet-name>Reserve</servlet-name>
		<servlet-class>com.min.edu.ctrl.reserve.Reserve</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Reserve</servlet-name>
		<url-pattern>/reserve.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ReservList</servlet-name>
		<servlet-class>com.min.edu.ctrl.reserve.ReservList</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ReservList</servlet-name>
		<url-pattern>/reservList.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ProductReservatinoList</servlet-name>
		<servlet-class>com.min.edu.ctrl.reserve.ProductReservatinoList</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProductReservatinoList</servlet-name>
		<url-pattern>/productReservatinoList.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Shop</servlet-name>
		<servlet-class>com.min.edu.ctrl.reserve.Shop</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Shop</servlet-name>
		<url-pattern>/shop.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ShopCalendar</servlet-name>
		<servlet-class>com.min.edu.ctrl.reserve.ShopCalendar</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ShopCalendar</servlet-name>
		<url-pattern>/shopCalendar.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ProductTime</servlet-name>
		<servlet-class>com.min.edu.ctrl.reserve.ProductTime</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProductTime</servlet-name>
		<url-pattern>/productTime.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>RequestReservation</servlet-name>
		<servlet-class>com.min.edu.ctrl.reserve.RequestReservation</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RequestReservation</servlet-name>
		<url-pattern>/requestReservation.do</url-pattern>
	</servlet-mapping>

	<!-- user 정운 -->
	<servlet>
		<servlet-name>BookingLoginForm</servlet-name>
		<servlet-class>com.min.edu.ctrl.user.BookingLoginForm</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BookingLoginForm</servlet-name>
		<url-pattern>/bookingLoginForm.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>BookingLogin</servlet-name>
		<servlet-class>com.min.edu.ctrl.user.BookingLogin</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BookingLogin</servlet-name>
		<url-pattern>/bookingLogin.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>MyReservation</servlet-name>
		<servlet-class>com.min.edu.ctrl.user.MyReservation</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MyReservation</servlet-name>
		<url-pattern>/myReservation.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>MyReservationStatus</servlet-name>
		<servlet-class>com.min.edu.ctrl.user.MyReservationStatus</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MyReservationStatus</servlet-name>
		<url-pattern>/myReservationStatus.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>MyReservationList</servlet-name>
		<servlet-class>com.min.edu.ctrl.user.MyReservationList</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MyReservationList</servlet-name>
		<url-pattern>/myReservationList.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>MyReservationCancel</servlet-name>
		<servlet-class>com.min.edu.ctrl.user.MyReservationCancel</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MyReservationCancel</servlet-name>
		<url-pattern>/myReservationCancel.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>autoReservationStatus</servlet-name>
		<servlet-class>com.min.edu.ctrl.user.autoReservationStatus</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>autoReservationStatus</servlet-name>
		<url-pattern>/autoReservationStatus.do</url-pattern>
	</servlet-mapping>
</web-app>